node_modules/
public/**/*
seeds/**/*
src/**/*
.DS_Store
.env.local
.eslintrc.js
.firebaserc
.git
.gitignore
.npmignore
.prettierrc
cypress/
cypress.json
scripts/
babel.config.js
firebase.json
firestore-debug.log
firestore.indexes.json
firestore.rules
index.html
package-lock.json
package.json
pubsub-debug.log
storage.rules
tsconfig.json
vite.config.ts
ui-debug.log
*-debug.log